<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <meta charset="UTF-8">
    <title>AppSpeedXray</title>
</head>
<body>
<div class="header" align="center">
    <h2><img src="{% static "img/logo.png" %}" class="logo" align="middle"/>
    AppSpeedXray: A mobile app performance measurement system
    <img src="{% static "img/cnu_logo.png" %}" class="logo" align="middle"/></h2>
</div>

<div>
    <p>
        <b>AppSpeedXray</b> is an open source project that includes app automation, rendering video and network traffic collection, and performance metric analysis to measure the performance of mobile applications.
        We are experimenting with apps periodically to show their performance.
    </p>
    <p>
        Because AppSpeedXray is an open source project, you can check app's performance on this website, as well as customize your test bed.
    </p>
</div>

<div>
<h3>AppSpeedXray Architecture</h3>
</div>


<div>
    <h3>Experiments(Dataset): 4350</h3>
    <p>Performance Score: <img src="{% static "img/pscdf.png" %}" alt="pscdf" class="result" style="width: 50%;"/><br>
        Speed Index: <img src="{% static "img/sicdf.png" %}" alt="sicdf" class="result" style="width: 50%;"/><br>
        Performance Score by device: <img src="{% static "img/network_type_cdf.png" %}" alt="psdevice" class="result" style="width: 50%;"/><br>

    </p>
</div>

<div class="row">
    <!-- Button to open the modal login form -->
    <div align="center">
        <img src="{% static "img/load_data.png" %}" onclick="document.getElementById('id01').style.display='block'"
             class="avatar"/>
{#        <img src="{% static "img/new_data.png" %}" onclick="document.getElementById('id02').style.display='block'"#}
{#             class="avatar"/>#}
    </div>

    <!-- The Modal -->
    <div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <div class="modal-content animate container">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for application..">

            <ul id="myUL">
                {% for app in apps %}
                    <li><a href="result?package={{ app.package_name }}"> {{ app.app_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <!-- The Modal -->
    <div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'"
        class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <div class="modal-content animate container">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for application..">

            <ul id="myUL">
                <li><b><a href="new">Request New Experiments</a></b></li>
                {% for app in apps %}
                    <li><a href="result?package={{ app.package_name }}"> {{ app.app_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
<script>
    // Get the modal
    const modal1 = document.getElementById('id01');
    const modal2 = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target === modal1 || event.target === modal2) {
            modal1.style.display = "none";
            modal2.style.display = "none";
        }
    }
</script>
</body>
</html>
