<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet", type="text/css", href="{% static "index.css" %}">
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
    <h1> Application Speed Index </h1>
    <h2> Main Page </h2>
    <table id="applist">
        <tr>
            <th>Package Name</th>
            <th>Speed Index</th>
            <th>TCP connections</th>
            <th>RTT</th>
            <th>Retransmission</th>
            <th>Layouts</th>
            <th>Images</th>
            <th>Ads</th>
        </tr>
        {% for row in result %}
            <tr>
                <td><a href="result?package={{row.packagename}}">{{row.packagename}}</a></td>
                <td>{{row.si}}</td>
                <td>{{row.tcp}}</td>
                <td>{{row.rtt}}</td>
                <td>{{row.rexmit}}</td>
                <td>{{row.layout}}</td>
                <td>{{row.image}}</td>
                <td>{{row.ads}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>