<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet", type="text/css", href="{% static "index.css" %}">
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
    <h1> Application Speed Index </h1>
    <h2> Main Page </h2>
    <table>
        <tr>
            <td>wow</td>
            <td>wow2</td>
            <td>wow3</td>
        </tr>
        <tr>
            <td>wow</td>
            <td>wow2</td>
            <td>wow3</td>
        </tr>
        <tr>
            <td>wow</td>
            <td>wow2</td>
            <td>wow3</td>
        </tr>
    </table>
</body>
</html>